.games-container {
    padding-bottom: 42px;
}

.games-title {
    padding: 32px 0 42px 0;
}

.games-title h1 {
    font-size: 40px;
    font-weight: 800;
    color: #F57940;
    line-height: 50px;
    margin:0;
}

.game-date {
    border: 1px solid #1e5558;
    padding: 2px 6px;
    text-align: center;
    border-radius: 15px;
    margin-bottom: 12px;
}

.game-date-icon {
    width: 21px;
    display: inline-block;
    height: 21px;
}

.game-date-box {
    color: #163d40;
    font-size: 13px;
    line-height: 21px;
    font-weight: 400;
    display: inline-block;
}

.game-box {
    margin-bottom: 12px;
}

.game-team {
    display: inline-block;
}

.game-team-score, .game-draw-vs {
    border: 2px solid #91ce5f;
    line-height: 16px;
    font-size: 16px;
    color: #163d40;
    padding: 8px 0;
    width: 36px;
    text-align: center;
    border-radius: 4px;
    display: inline-block;
    font-weight: 700;
}

.game-draw-vs {
    border:none;
    width: 18px;
    font-weight: 800;
}

.game-team-badge {
    border: 2px solid #91ce5f;
    background: #fff;
    padding: 8px;
    box-sizing: border-box;
    width: 64px;
    height: 64px;
    text-align: center;
    border-radius: 38px;
}

.game-team-badge img {
    height: 100%;
    width: auto;
}

.game-crowd {
    max-width: 64px;
    margin: 0 auto;
    margin-top: 12px;
    border-radius: 8px;
}

.game-crowd .progress-bar {
    border-radius: 8px;
    min-width: 24px !important;
}

.game-crowd .progress-bar span {
    width: 100%;
    text-align: center;
    display: block;
}
